
img{
  width: 100px;
  height: 280px;
}


/* CARD GAME  */
.board{
  margin: 0px;
  padding: 0px;
}
.flip-container{
  perspective: 1000px;
  display: inline-block;
  border: 1px solid white;
  background: black;
}

.flip-container.flipped .flipper{
  transform: rotateY(180deg);
}

.flipper{
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, 
.back{
  backface-visibility: hidden;
  position: absolute;
  left:0;
  top: 0;
}

.back{
  z-index: 2;
  transform: rotateY(0deg);
}

.front{
  transform: rotateY(180deg);
}

/* Nav Bar  */

.nav {
  background-color: #d1d7e0;
  height: fit-content;
  width: 90%;
  margin: 0px auto;
  border-style: solid;
  border-color: rgb(149, 217, 223);
  border-width: 7px;
  color: rgb(0, 109, 121);
  background: white;
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
}

.nav ul {
  margin: 0 auto;
  text-align: center;
}

.nav li {
  display: inline-block;
  line-height: 40px;
  padding: 0px 15px;
  margin: 0 auto;
  color: rgb(0, 109, 121);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.nav li:hover {
  color: rgb(255, 36, 0);
}
