@font-face {
  font-family: barFont;
  src: url("/src/fonts/Vintages.ttf");
}
html, body, #background{
  background-color: 	#382913;
}
h1{
  font-family: barFont;
}
#bar-sign{
  width: 1000px;
  height: 300px;
  margin-bottom: -30px;

}
#bar-sign-container{
  display: flex;
  justify-content: center;
}
img{
  width: 100px;
  height: 280px;
}


/* USER INFO  */
#user-container{
  display: flex;
  justify-content: center;
  
  
}

#user-info{
  background-color: rgb(38, 33, 26);
  border-style: solid;
  border-color: rgb(38, 33, 26);
  border-width: 10px;

  /* background-image: url("./fonts/brick.jpg"); */
  width: 85%;
  
  
}
#user2{
  display: flex;
  justify-content: center;
}
#user{
  border-style: solid;
  border-color:  black;
  border-width: 5px;
  width: 50%;
  text-align: center;
  background-color: rgb(216, 212, 203); 
  margin-bottom: 10px;
  padding: 10px;
}

#bar-top, #bar-stool{
  width: 100%;
  height: 100px;
}
/* CARD GAME  */
.board{
  margin: 0px;
  padding: 0px;
}
.flip-container{
  perspective: 1000px;
  display: inline-block;
  border: 1px solid white;
  background: black;
}

.flip-container.flipped .flipper{
  transform: rotateY(180deg);
}

.flipper{
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, 
.back{
  backface-visibility: hidden;
  position: absolute;
  left:0;
  top: 0;
}

.back{
  z-index: 2;
  transform: rotateY(0deg);
}

.front{
  transform: rotateY(180deg);
}

/* Nav Bar  */

.nav {

  height: fit-content;
  width: 85%;
  margin: 0px auto;
  border-style: solid;
  border-color: rgb(33,31,29);
  border-width: 10px;
  color: rgb(33,31,29);
  background: #fffffa;
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
}

.nav ul {
  margin: 0 auto;
  text-align: center;
}

.nav li {
  display: inline-block;
  line-height: 40px;
  padding: 0px 15px;
  margin: 0 auto;
  color: rgb(33,31,29);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.nav li:hover {
  color: #c48d3f;
}
