
@font-face {
  font-family: barFont;
  src: url("/src/fonts/Vintages.ttf");
}

@font-face {
  font-family: regularFont;
  src: url("/src/fonts/RevxNeueDemo-Regular.ttf");
}
@font-face {
  font-family: regularFont2;
  src: url("/src/fonts/RevxNeueDemo-SemiBold.ttf");
}
html,
body,
#background {
  background-color: #382913;
}
h1 {
  font-family: barFont;
  text-align: center;
}
label,
input,
#btn,
h4 {
  font-family: regularFont2;
}
h4{
  color: #382913;
}

h4:hover{
color: #c48d3f;
}

#btn{
  background-color: #c48d3f;
  color: white;
  padding: 5px;
  border-color: #382913;
}
#btn:hover{
  color:#382913;
}
p {
  font-family: regularFont;
  font-weight: bold;
}

#bar-sign {
  width: 1000px;
  height: 300px;
  margin-bottom: -30px;
}
#bar-sign-container {
  display: flex;
  justify-content: center;
}
img {
  width: 90px;
  height: 280px;
}

input {
  text-align: center;
}


/* Footer */
#footer{
  background-color:rgb(38, 33, 26);
  color:#c48d3f;
  text-align: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}

/* BEER FULL INFO COMPONENT */

#beer-container {
  display: grid;
  grid-template-areas:
    "babv babv btag"
    "bimg bimg bdesc "
    "bimg bimg bfood "
    "bbtns bbtns bbtns ";
  text-align: start;
  padding-right: 10%;
  padding-left: 10%;
}

#beer-tag {
  grid-area: btag;
  margin-left: 20%;

  width: 80%;
}
#beer-img {
  grid-area: bimg;
  padding-left: 20px;
}
#beer-desc {
  grid-area: bdesc;
  margin-left: 20%;
  width: 80%;
}
#beer-abv {
  grid-area: babv;
  text-align: center;
  padding-left: 20px;
}
#beer-food {
  grid-area: bfood;
  width: 80%;
  margin-left: 20%;
}

#beer-btns {
  grid-area: bbtns;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

/* SAVED BEERS */
#user-beers-container {
  display: grid;
  grid-template-areas:
    "umtitle"
    "umbeers";
  background-color:rgb(216, 212, 203);
  width: 85%;
  text-align: center;
  padding-top: 50px;
  border-style: solid;
  border-color: rgb(38, 33, 26);
  border-width: 10px;
}
#user-menu-title {
  grid-area: umtitle;
}

#user-menu-beers {
  grid-area: umbeers;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* ALL BEERS */
#all-beers,
#user-beers {
  display: flex;
  justify-content: center;
  width: 100%;
}

#beers-container {
  display: grid;
  grid-template-areas:
    "search"
    "mtitle"
    "mbeers";
    background-color:rgb(216, 212, 203);
  width: 85%;
  text-align: center;
  padding-top: 50px;
  border-style: solid;
  border-color: rgb(38, 33, 26);
  border-width: 10px;
}

#search-bar {
  grid-area: search;
  
}

#menu-title {
  grid-area: mtitle;
}

#title {
  font-size: 80px;
}

#beer-title {
  font-size: 50px;
}
#menu-beers {
  grid-area: mbeers;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* BEER PREVIEW  */
#beer-preview {
  padding-left: 50px;
  padding-right: 50px;
  width: 300px;
  height: 500px;
  
}

/* BAR LOOK  */
.bar-container {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.bar {
  background-color: rgb(38, 33, 26);
  border-style: solid;
  border-color: rgb(38, 33, 26);
  border-width: 10px;
  width: 85%;
}
.frame-container {
  display: flex;
  justify-content: center;
}
.frame {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 50%;
  text-align: center;
  background-color: rgb(216, 212, 203);
  margin-bottom: 10px;
  padding: 10px;
}
#full-info-frame {
  width: 80%;
  
}

#bar-top,
#bar-stool {
  width: 100%;
  height: 100px;
}
/* CARD GAME  */
#card-game{
  width: 85%;
  background-color: rgb(216, 212, 203);
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-color: rgb(38, 33, 26);
  border-width: 10px;
  
}
#board{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.flip-container {
  perspective: 1000px;
  display: inline-block;
  border: 2px solid rgb(33, 31, 29);
  margin: 5px;
  
  background-image: url("/src/fonts/backImg.jpg");
}

.flip-container.flipped .flipper {
  transform: rotateY(180deg);
  
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  
}

.back {
  z-index: 2;
  transform: rotateY(0deg);
  border: 2px solid rgb(33, 31, 29);
}

.front {
  transform: rotateY(180deg);
}

#result-btn{
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Nav Bar  */

.nav {
  height: fit-content;
  width: 85%;
  margin: 0px auto;
  border-style: solid;
  border-color: rgb(33, 31, 29);
  border-width: 10px;
  color: rgb(33, 31, 29);
  background: #fffffa;
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
}

.nav ul {
  margin: 0 auto;
  text-align: center;
}

.nav li {
  display: inline-block;
  line-height: 40px;
  padding: 0px 15px;
  margin: 0 auto;
  color: rgb(33, 31, 29);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.nav li:hover {
  color: #c48d3f;
}

/* Welcome Page  */
#welcome-grid{
  display: grid;
  grid-template-areas: 
  "welcome welcome"
  "wimage wtext"
  "wbtn wbtn" ;
}
#welcome-title{
  grid-area: welcome;
  padding-bottom: 10px;
}
#welcome-text{
  grid-area: wtext;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}
#welcome-image{
  grid-area: wimage;
  
}
#timmy{
  width: 200px;
  height: 200px;
  margin-left: 10%;
  margin-bottom:20%;
}
#welcome-btn{
  grid-area: wbtn;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content:space-evenly;
}

#welcome-frame{
  width: 70%;
}